<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>md5-size</key>
					<integer>10485760</integer>
					<key>md5s</key>
					<array>
						<string>5671c58276801bb347c1c86ba2e6c560</string>
						<string>5137f5a2c30bfb5a4c57fbb74c8bf863</string>
						<string>4cc623b058f67e890f963f6891bfa53e</string>
						<string>cae490c448b3f4055d0659f9f18f7169</string>
						<string>27eb6a5baf98cc8a3a4fb22b30639196</string>
						<string>db03c4d1d9e6100240587964674993a7</string>
						<string>f79f2b8a7fce44af30187687dee86503</string>
						<string>b7d14444c90156442a6aaed7acff65cb</string>
						<string>187ad258d48a3c3d78215ab49494751d</string>
					</array>
					<key>url</key>
					<string>https://yourHTTPSServer.domain.com/Agent/IvantiMacAgentMDMReady.pkg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.ivanti.macOS.agent</string>
				<key>bundle-version</key>
				<string>11.0.0.25</string>
				<key>items</key>
				<array>
					<dict>
						<key>bundle-identifier</key>
						<string>com.landesk.agent10.sharedtech</string>
						<key>bundle-version</key>
						<string>11.0.0.25</string>
					</dict>
					<dict>
						<key>bundle-identifier</key>
						<string>com.landesk.agent10.baseagent</string>
						<key>bundle-version</key>
						<string>11.0.0.25</string>
					</dict>
					<dict>
						<key>bundle-identifier</key>
						<string>com.landesk.agent10.config</string>
						<key>bundle-version</key>
						<string>11.0.0.25</string>
					</dict>
					<dict>
						<key>bundle-identifier</key>
						<string>com.landesk.agent10.brokerconfig</string>
						<key>bundle-version</key>
						<string>11.0.0.25</string>
					</dict>
					<dict>
						<key>bundle-identifier</key>
						<string>com.landesk.agent10.hidescreen</string>
						<key>bundle-version</key>
						<string>11.0.0.25</string>
					</dict>
					<dict>
						<key>bundle-identifier</key>
						<string>com.landesk.agent10.inventory</string>
						<key>bundle-version</key>
						<string>11.0.0.25</string>
					</dict>
					<dict>
						<key>bundle-identifier</key>
						<string>com.landesk.agent10.ldagentsettings</string>
						<key>bundle-version</key>
						<string>11.0.0.25</string>
					</dict>
					<dict>
						<key>bundle-identifier</key>
						<string>com.landesk.agent10.ldreboot</string>
						<key>bundle-version</key>
						<string>11.0.0.25</string>
					</dict>
					<dict>
						<key>bundle-identifier</key>
						<string>com.landesk.agent10.slm</string>
						<key>bundle-version</key>
						<string>11.0.0.25</string>
					</dict>
					<dict>
						<key>bundle-identifier</key>
						<string>com.landesk.agent10.notify</string>
						<key>bundle-version</key>
						<string>11.0.0.25</string>
					</dict>
					<dict>
						<key>bundle-identifier</key>
						<string>com.landesk.agent10.ntfsprogs</string>
						<key>bundle-version</key>
						<string>11.0.0.25</string>
					</dict>
					<dict>
						<key>bundle-identifier</key>
						<string>com.landesk.agent10.powermanagement</string>
						<key>bundle-version</key>
						<string>11.0.0.25</string>
					</dict>
					<dict>
						<key>bundle-identifier</key>
						<string>com.landesk.agent10.provisioning</string>
						<key>bundle-version</key>
						<string>11.0.0.25</string>
					</dict>
					<dict>
						<key>bundle-identifier</key>
						<string>com.landesk.agent10.rc</string>
						<key>bundle-version</key>
						<string>11.0.0.25</string>
					</dict>
					<dict>
						<key>bundle-identifier</key>
						<string>com.landesk.agent10.resources</string>
						<key>bundle-version</key>
						<string>11.0.0.25</string>
					</dict>
					<dict>
						<key>bundle-identifier</key>
						<string>com.landesk.agent10.softwareprogress</string>
						<key>bundle-version</key>
						<string>11.0.0.25</string>
					</dict>
					<dict>
						<key>bundle-identifier</key>
						<string>com.landesk.agent10.swd</string>
						<key>bundle-version</key>
						<string>11.0.0.25</string>
					</dict>
					<dict>
						<key>bundle-identifier</key>
						<string>com.landesk.agent10.vulscan</string>
						<key>bundle-version</key>
						<string>11.0.0.25</string>
					</dict>
					<dict>
						<key>bundle-identifier</key>
						<string>com.landesk.agent10.ldwatch</string>
						<key>bundle-version</key>
						<string>11.0.0.25</string>
					</dict>
					<dict>
						<key>bundle-identifier</key>
						<string>com.landesk.agent10.ldapm</string>
						<key>bundle-version</key>
						<string>11.0.0.25</string>
					</dict>
					<dict>
						<key>bundle-identifier</key>
						<string>com.landesk.agent10.ldusermenu</string>
						<key>bundle-version</key>
						<string>11.0.0.25</string>
					</dict>
					<dict>
						<key>bundle-identifier</key>
						<string>com.landesk.agent10.portalmanager</string>
						<key>bundle-version</key>
						<string>11.0.0.25</string>
					</dict>
					<dict>
						<key>bundle-identifier</key>
						<string>com.landesk.agent10.ivrc</string>
						<key>bundle-version</key>
						<string>11.0.0.25</string>
					</dict>
					<dict>
						<key>bundle-identifier</key>
						<string>com.landesk.agent10.ivagentsetup</string>
						<key>bundle-version</key>
						<string>11.0.0.25</string>
					</dict>
				</array>
				<key>kind</key>
				<string>software</string>
				<key>sizeInBytes</key>
				<string>91829907</string>
				<key>subtitle</key>
				<string>Ivanti</string>
				<key>title</key>
				<string>Ivanti Mac Agent</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
